{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>Claim Your Profile</li>
{% endblock %}

{% block main %}
    <h2>Once you claim your profile you can:</h2>
    <ul>

    <li>Add a link to your website from your profile page</li>
    <li>Add links to your social media pages:
        <ul>
            <li>Youtube</li>
            <li>Linkedin</li>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Pinterest</li>
        </ul>
    </li>
    <li>Upload a profile picture</li>
    <li>Add specialties, awards and association information to your profile!</li>
    </ul>

<fieldset>
    <legend>Sign up below to claim your profile.</legend>
    <form method="post">
    {% fields_for form %}
    <div class="form-actions">
        <input class="btn btn-primary btn-large" type="submit" value="{{ title }}">
    </div>
    </form>
</fieldset>
{% endblock %}



