{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$( document ).ready(function() {
    $('input').each(function(){
           $(this).addClass('text-label');
    });
});
</script>
{% endblock %}

{% block extra_css %}
    <style>
    label{color:#888}
    </style>
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>Claim Your Profile</li>
{% endblock %}

{% block main %}
    <div class="col-lg-9">
        <div class="panel">
            <h2  class="panel-heading">Claim and edit your profile! Edit options include the following:</h2>
            <ul class="blogCategory">
                <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Upload your headshot!</a></span><div class="clearfix"></div></li>
                <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Option to change header image!</a></span><div class="clearfix"></div></li>
                <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Add a link to your real estate website!</a></span><div class="clearfix"></div></li>
                <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Add links to your social media pages: Twitter, YouTube, LinkedIn, Facebook, Pinterest!</a></span><div class="clearfix"></div></li>
                <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Easily edit your skill set Bar Graph!</a></span><div class="clearfix"></div></li>
                <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Add additional specialties, awards and MLS Association information!</a></span><div class="clearfix"></div></li>
            </ul>
            <hr />
            <form method="post" class="form">
                <div class="field">
                {% fields_for form %}
                </div>
                <input class="btn btnBasic" type="submit" value="{{ title }}">
            </form>

        </div>
    </div>
{% endblock %}



