{% extends "base_agent.html" %}
{% load mezzanine_tags keyword_tags agent_tags staticfiles %}

{% block meta_title %}{% if agent.first_name or agent.last_name %}{{ agent.first_name }} {{ agent.last_name }}{% else %}{{ agent.full_name }}
{% endif %} {{ agent.mailing_city }}, {{ agent.mailing_state }} {{ agent.mailing_zip }}
{% endblock %}

{% block meta_description %}{% metablock %}Information about Real Estate

{% if agent.get_data_for_license_type.license_type == "Agent" %} Agent {% if agent.first_name or agent.last_name %}
{{ agent.first_name }} {{ agent.last_name }}{% else %}{{ agent.full_name }}{% endif %}
{% endif %}

{% if agent.get_data_for_license_type.license_type == "Broker" %} Broker {% if agent.first_name or agent.last_name %}
{{ agent.first_name }} {{ agent.last_name }}{% else %}{{ agent.full_name }}{% endif %}
{% endif %}

{% if agent.get_data_for_license_type.license_type == "Officer" %} Officer {% if agent.first_name or agent.last_name %}
{{ agent.first_name }} {{ agent.last_name }}{% else %}{{ agent.full_name }}{% endif %}
{% endif %}

{% if agent.get_data_for_license_type.license_type == "Corporation" %} Corporation {{ agent.full_name }}{% endif %}
{% if agent.mailing_city %}, {{ agent.mailing_city|title }}, {{ agent.mailing_state }}{% endif %}
{% endmetablock %}{% endblock %}

{% block extra_meta %}{% endblock %}

{% block title %}{% endblock %}

{% block extra_css %}
<style type="text/css">
    .coverOverlay{background-image:url({% static "img/coverShadow.png" %});height:348px;width:940px;position:absolute;}
    .header_title{font-size: 12px; margin: 0 0 10px;}
    h2{font-size: 13px; color: #FFF;}
    h4{font-size:12px;line-height:18px;}
    label{color:#888}
</style>
{% endblock %}

{% block header_js %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<!-- JavaScript plugins (requires jQuery) -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="//ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "e2f3c702-18ba-49ba-94f5-c1346c29e214", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script type="text/javascript">
$( document ).ready(function() {
    $('input').each(function(){
           $(this).addClass('text-label');
    });

    $('textarea').each(function(){
           $(this).addClass('textarea-label');
    });
});
</script>
{% endblock %}

{% block extra_breadcrumb %}
<li id="breadcrumb-menu-home">
    <a href="{% url "home" %}">Home</a>
</li>
<li>
<a href="/agent_lookup/">Agents by Region</a>
{#<span class="divider">/</span>#}
</li>
<li>
<a href="/agent_lookup/{{ active_region.region|slugify }}/">{{ active_region.region|title }}</a>
{#<span class="divider">/</span>#}
</li>
<li>
<a href="/agent_lookup/{{ active_region.region|slugify }}/{{ agent.mailing_city|slugify }}">{{ agent.mailing_city|title }}</a>
{#<span class="divider">/</span>#}
</li>
<li class="active">
{% if agent.first_name or agent.last_name %}
{{ agent.first_name }} {{ agent.last_name }}{% else %}
{{ agent.full_name }}{% endif %}
</li>
{% endblock %}

{% block alert_header %}

    {% if request.GET.success == 'true' %}
    <div class="alert alert-info" data-alert="alert">
        <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a> Your Message Has Been Sent
    </div>
    {% endif %}

    {% if  form.errors %}
    <div class="alert alert-danger" data-alert="alert">
        <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a> The Form Has Errors. Click the 'Contact' Button to See What's Missing
    </div>
    {% endif %}
    {% comment %}{% if request.user.is_authenticated %}
        {% if not profile_claimed.0 %}
            <div class="alert" data-alert="alert">
                <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a> To finish claiming your profile copy your license id from your profile below then <a href="/agent/claimprofile/">click here!</a> That's the last step!
            </div>
        {% else %}
           <div class="alert" data-alert="alert">
                <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a> <a href="/agent/profile/edit/{{ profile_claimed.1 }}/">Edit your profile!</a>
            </div>
        {% endif %}
    {% else %}
        {% if not agent.profile_claimed %}
            <div class="alert" data-alert="alert">
                <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a> Are you Real Estate {{ agent.get_data_for_license_type.license_type }}, {% if agent.first_name or agent.last_name %}{{ agent.first_name }}  {{ agent.last_name }}{% else %}{{ agent.full_name }}{% endif %}?
                <a href="/account/signup/?next={{ agent.get_absolute_url }}">Claim and edit your profile!</a>
            </div>
        {% endif %}
    {% endif %}{% endcomment %}
{% endblock %}

{% block main %}
    <!-- START HERE -->
    <div class="container tab-container" id="tab-container">
        <!-- HEADER -->
        <header>
            <div class="cover" style="background-image:url({{ MEDIA_URL }}{% agent_thumbnail agent.hero_image 940 348 %});">
                <div class="coverOverlay"></div>
                <!-- profile picture - change your profile picture here -->
                <div class="profilePicture">
                    <img src="{{ MEDIA_URL }}{% agent_thumbnail agent.profile_image 170 170 %}"
                    alt="{% if agent.first_name or agent.last_name %}{{ agent.first_name }}  {{ agent.last_name }}{% else %}{{ agent.full_name }}{% endif %} Real Estate {{ agent.get_data_for_license_type.license_type|title }}"
                    title="{% if agent.first_name or agent.last_name %}{{ agent.first_name }}  {{ agent.last_name }}{% else %}{{ agent.full_name }}{% endif %} Real Estate {{ agent.get_data_for_license_type.license_type|title }}"/>
                </div>
                <!-- profile name - change profile name here -->
                <div class="profileName">
                    <h1>{% if agent.first_name or agent.last_name %}
                        {{ agent.first_name }} {{ agent.last_name }}{% else %}
                        {{ agent.full_name }}{% endif %}
                    <span class="header_title">Real Estate {{ agent.get_data_for_license_type.license_type }}</span>
                    </h1>
{#                   <p>Real Estate {{ agent.get_data_for_license_type.license_type }}</p>#}
                </div>
            </div>
            <nav>
                <ul class="etabs">
                    <li class="tab"><a href="#about"><span class="tabIcon glyphicon glyphicon-user"></span><span class="tabText">About</span></a></li>
{#                    <li class="tab"><a href="#portfolio"><span class="tabIcon glyphicon glyphicon-briefcase"></span><span class="tabText">Portfolio</span></a></li>#}
{#                    <li class="tab"><a href="#blog"><span class="tabIcon glyphicon glyphicon-pencil"></span><span class="tabText">Blog</span></a></li>#}
                    <li class="tab"><a href="#contact"><span class="tabIcon glyphicon glyphicon-envelope"></span><span class="tabText">Contact</span></a></li>
                </ul>
            </nav>
        </header>
        <!-- HEADER -->

        <!-- MAIN CONTENT -->
        <div class="content">
            <!-- ABOUT TAB -->
            <div id="about">
                <div class="row">
                    <!-- About - Left Side -->
                    <div class="col-lg-4">
                        <!-- License Info -->
                        <div class="panel">
                            <h2 class="panel-heading">Real Estate License Info</h2>
                            <ul class="personalInfo">
                                <li><span class="icon glyphicon glyphicon-ok"></span><span class="text">License Status: {{ agent.license_status }} {{ agent.license_type }}</span><div class="clearfix"></div></li>
                                <li><span class="icon glyphicon glyphicon-map-marker"></span><span class="text">License ID: {{ agent.license_id }}</span><div class="clearfix"></div></li>
                                <li><span class="icon glyphicon glyphicon-calendar"></span><span class="text">License Issue Date : {{ agent.license_issue_date|date:"l, F d, Y" }}</span><div class="clearfix"></div></li>
                                <li><span class="icon glyphicon glyphicon-calendar"></span><span class="text">License Expiration Date: {{ agent.license_exp_date|date:"l, F d, Y" }}</span><div class="clearfix"></div></li>
{#                                <li><span class="icon glyphicon glyphicon-globe"></span><span class="text">Website : <a href="#">www.graphicgeeks.net</a></span><div class="clearfix"></div></li>#}
                            </ul>
                        </div>
                        <!-- License Info -->

                        <!-- SOCIAL SHARE -->
                        <div class="panel">
                            <h2 class="panel-heading">Share This Real Estate {{ agent.get_data_for_license_type.license_type }}</h2>
                            <div class="text-center">
                                <span class='st_facebook_large'></span>
                                <span class='st_twitter_large'></span>
                                <span class='st_googleplus_large'></span>
                                <span class='st_email_large'></span>
                            </div>
                        </div>
                        <!-- SOCIAL SHARE -->

                        {% if agent.show_bar_graph_skillset %}
                        <!-- SKILLS -->
                        <div class="panel">
                            <h2 class="panel-heading">Real Estate Skills & Specialties</h2>
                            <div class="progressSkill">
                                <p>Residential</p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" style="width: {{ percent_residential }}%"></div>
                                </div>
                            </div>

                            <div class="progressSkill">
                                <p>Commercial</p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" style="width: {{ percent_commercial }}%"></div>
                                </div>
                            </div>

                            <div class="progressSkill">
                                <p>Land</p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" style="width: {{ percent_land }}%"></div>
                                </div>
                            </div>

                            <div class="progressSkill">
                                <p>Investors</p>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" style="width: {{ percent_investors }}%"></div>
                                </div>
                            </div>
                        </div>
                        <!-- SKILLS -->
                        {% endif %}

                        {% comment %}
                        <!-- Testimonial User for NEARYBY AGENTS - GEO BABY -->
                        <div class="panel">
                            <div class="panel-heading">Testimonials</div>
                            <div class="media testimonial">
                                <a class="pull-left" href="#">
                                    <img alt="people" class="media-object" src="demo/people1.jpg" style="width:32px; height:32px;">

                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">Mila Nova<br/><span class="testimonialCompany">CEO of Soul of Youth Pte Ltd.</span></h6>
                                    <p>Really responsive and professional. Their codes really clean and the website template is so good. Thumbs up!</p>
                                </div>
                            </div>

                            <div class="media testimonial">
                                <a class="pull-left" href="#">
                                    <img  alt="people2" class="media-object" src="demo/people2.jpg" style="width:32px; height:32px;">
                                </a>
                                <div class="media-body">
                                    <h6 class="media-heading">John Doe <br/><span class="testimonialCompany">CEO of Soul of Youth Pte Ltd.</span></h6>
                                    <p>Really responsive and professional. Thumbs up!</p>
                                </div>
                            </div>
                        </div>{% endcomment %}
                        <!-- END NEARY BY AGENTS - GEO BABY -->
                    </div>
                    <!-- Left Side End-->

                    <!-- Right Side -->
                    <div class="col-lg-8">

                        {% if request.user.is_authenticated %}
                            {% if not profile_claimed.0 %}
                                <div class="alert alert-info" data-alert="alert">
                                    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a> To finish claiming your profile copy your license id from your profile (left side top box) and then <a href="/agent/claimprofile/">click here!</a> That's the last step!
                                </div>
                            {% else %}
                               <div class="alert alert-info" data-alert="alert">
                                    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a> <a href="/agent/profile/edit/{{ profile_claimed.1 }}/">Edit your profile!</a>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if not agent.profile_claimed %}
                                <div class="alert alert-info" data-alert="alert">
                                    <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a> Are you Real Estate {{ agent.get_data_for_license_type.license_type }}, {% if agent.first_name or agent.last_name %}{{ agent.first_name }}  {{ agent.last_name }}{% else %}{{ agent.full_name }}{% endif %}?
                                    <a href="/account/signup/?next={{ agent.get_absolute_url }}">Claim and edit your profile!</a>
                                </div>
                            {% endif %}
                        {% endif %}

                        <!-- Your Introduction Goes Here -->
                        <div class="panel">
                            <h2 class="panel-heading">About Real Estate {{ agent.get_data_for_license_type.license_type }} {% if agent.first_name or agent.last_name %}
                            {{ agent.first_name }} {{ agent.last_name }}{% else %}
                            {{ agent.full_name }}{% endif %}</h2>
                            {% if agent.about_me %}
                                <p>{{ agent.about_me }}</p>
                            {% else %}
                                <p>This section has not been updated by Real Estate {{ agent.get_data_for_license_type.license_type }} {% if agent.first_name or agent.last_name %}
                                {{ agent.first_name }} {{ agent.last_name }}{% else %}
                                {{ agent.full_name }}{% endif %}</p>
                            {% endif %}
                        </div>
                        <!-- Your Introduction Goes Here -->

                        <!-- CERTS AND AWARDS -->
                        <div class="panel">
                            <h2 class="panel-heading">Certifications and Awards</h2>
                            {% if agent.certifications_awards %}
                                {{ agent.certifications_awards }}
                            {% else %}
                                <p>Certifications and Awards not added by {% if agent.first_name or agent.last_name %}
                                {{ agent.first_name }} {{ agent.last_name }}{% else %}
                                {{ agent.full_name }}{% endif %}</p>
                            {% endif %}
                        </div>
                        <!-- CERTS AND AWARDS -->

                        <!-- MLS ASSOCIATION -->
                        <div class="panel">
                            <h2 class="panel-heading">MLS / Association</h2>
                            {% if agent.mls_association %}
                                {{ agent.mls_association }}
                            {% else %}
                                <p>MLS / Association not added by {% if agent.first_name or agent.last_name %}
                                {{ agent.first_name }} {{ agent.last_name }}{% else %}
                                {{ agent.full_name }}{% endif %}</p>
                            {% endif %}

                        </div>
                        <!--  MLS ASSOCIATION -->

                        <!-- DRE ABOUT Goes Here -->
                        <div class="panel">
                            <h2 class="panel-heading">State Reported Info About Real Estate {{ agent.get_data_for_license_type.license_type }} {% if agent.first_name or agent.last_name %}
                            {{ agent.first_name }} {{ agent.last_name }}{% else %}
                            {{ agent.full_name }}{% endif %}</h2>

                            {% if agent.get_data_for_license_type.license_type != "Corporation" %}
                                {% if agent.get_clean_salesperson_employing_broker %}
                                    <div class="media history">
                                        <h4>{% if agent.get_data_for_license_type.license_type == "Officer" %}
                                                Affiliated Corporation
                                            {% else %}
                                                Employing Broker
                                            {% endif %}</h4>
                                        <span class="icon glyphicon glyphicon-envelope historyLocationicon"></span>
                                        <p class="historyLocationtext"><a href="/{{ agent.get_clean_salesperson_employing_broker_url }}/">{{ agent.get_clean_salesperson_employing_broker|safe }}</a></p>
                                    </div>
                                {% endif %}
                            {% endif %}

                            {% if agent.get_data_for_license_type.license_type == "Broker" %}
                                <div class="media history">
                                    <h4>Brokerage Main Office Address</h4>
                                    <span class="icon glyphicon glyphicon-envelope historyLocationicon"></span>
                                    <p class="historyLocationtext">{{agent.get_clean_main_office_address}}</p>
                                </div>

                                <div class="media history">
                                    <h4>DBA (Doing Business As)</h4>
                                    <span class="icon glyphicon glyphicon-info-sign historyLocationicon"></span>
                                    <p class="historyLocationtext">{{ agent.get_clean_dba }}</p>
                                </div>

                                <div class="media history">
                                    <h4>Agents with Brokerage</h4>
                                    {% if agent.get_agents_for_employing_broker %}
                                        <ul>
                                        {% for agent in agent.get_agents_for_employing_broker %}
                                            <li><a href="{{ agent.get_absolute_url }}">{{ agent }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    {% else %}
                                        <span class="icon glyphicon glyphicon-list historyLocationicon"></span>
                                        <p class="historyLocationtext">No agents reported for this licensee.</p>
                                    {% endif %}
                                </div>


                                <div class="media history">
                                    <h4>Branches</h4>
                                    <span class="icon glyphicon glyphicon-list historyLocationicon"></span>
                                    <p class="historyLocationtext">{{ agent.get_clean_branches }}</p>
                                </div>

                                <div class="media history">
                                    <h4>Corporations Affiliated with this Broker</h4>
                                    <span class="icon glyphicon glyphicon-list historyLocationicon"></span>
                                    <p class="historyLocationtext">{{ agent.get_clean_affiliated_corps }}</p>
                                </div>
                            {% endif %}
                            {% if agent.show_state_reported_comments %}
                                <h4>Public Comments about this {{ agent.get_data_for_license_type.license_type }}</h4>
                                    <span class="icon glyphicon glyphicon-comment historyLocationicon"></span>
                                    <p class="historyLocationtext">{{ agent.get_clean_public_comments }}</p>
                            {% endif %}
                        </div>
                        <!-- DRE ABOUT  -->

                        <!-- LISTINGS -->
                        {% comment %}<div class="panel">
                            <div class="panel-heading">Listings and Transactions</div>

                            <div class="media history">
                                <div class="media-body">
                                    <div class="historyTop">
                                        <div class="media-object historyDate"> 2011 - 2013</div>
                                        <h6 class="media-heading historyHeading">Bachelor's Degree in Engineering</h6>
                                    </div>
                                    <span class="icon glyphicon glyphicon-map-marker historyLocationicon"></span>
                                    <p class="historyLocationtext">Minneapolis College of Art and Design</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque.  Current GPA 3.43 on a 4.00 scale</p>
                                </div>
                            </div>

                        </div>{% endcomment %}
                        <!-- LISTINGS -->
                        {% if agent.show_education %}
                            {% if agent.get_data_for_license_type.license_type != "Corporation" %}
                            <!-- EDUCATION -->
                            <div class="panel">
                                <div class="panel-heading">Education Background</div>
                                {% if agent.education_University %}
                                    <div class="media history">
                                        <div class="media-body">
                                            <div class="historyTop">
                                                <div class="media-object historyDate"> {{ agent.education_start_year }} - {{ agent.education_end_year }}</div>
                                                <h6 class="media-heading historyHeading">{{ agent.education_degree }}</h6>
                                            </div>
                                            <span class="icon glyphicon glyphicon-map-marker historyLocationicon"></span>
                                            <p class="historyLocationtext">{{ agent.education_University }}</p>
                                            <p>{{ agent.education_awards }}</p>
                                        </div>
                                    </div>
                                {% else %}
                                     <div class="media history">
                                        <div class="media-body">
                                            <div class="historyTop">
                                                <div class="media-object historyDate"> 20XX - 20XX</div>
                                                <h6 class="media-heading historyHeading">Degree Earned</h6>
                                            </div>
                                            <span class="icon glyphicon glyphicon-map-marker historyLocationicon"></span>
                                            <p class="historyLocationtext">University: This {{ agent.get_data_for_license_type.license_type }} has not added University / College information</p>
                                            <p>GPA, Awards, etc...Education Background not added by {% if agent.first_name or agent.last_name %}
                                            {{ agent.first_name }} {{ agent.last_name }}{% else %}
                                            {{ agent.full_name }}{% endif %}</p>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                            <!--EDUCATION-->
                            {% endif %}
                        {% endif %}
                    </div>
                    <!-- Right Side End -->
                </div>
            </div>
            <!-- ABOUT TAB -->

            <!-- PORTFOLIO TAB -->
            {% comment %}<div id="portfolio">

                <!-- add this line to add big/highlight portfolio  -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel">
                            <div class="panel-heading">Recent Portfolio</div>
                            <div class="portfolioHighlightImage"><a id="example1" href="demo/port7b.jpg"><img alt="people" src="demo/port7.jpg"/></a></div>
                            <div class="portfolioHighlight">
                                <h5>A Crazy Little Thing Called 'Love'</h5>
                                <div class="description">
                                    <div class="descriptionSingle"><span class="icon glyphicon glyphicon-calendar"></span><span>17 August 2013</span></div>
                                    <div class="descriptionSingle"><span class="icon glyphicon glyphicon-tag"></span><span>Web Design, Branding</span></div>
                                    <div class="descriptionSingle"><span class="icon glyphicon glyphicon-globe"></span><span><a href="#">www.crazylove.com</a></span></div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
               <!-- add this line to add big/highlight portfolio  -->

                <div class="row">

                    <!-- add this line to add small portfolio  -->
                    <div class="col-lg-4">
                        <div class="panel">
                            <div class="portfolioThumbnail">
                                <a id="example2" href="demo/port1b.jpg"><img alt="people" src="demo/port1.jpg"/></a>
                            </div>
                            <div class="portfolioThumbnailText">
                                <h5>Steampunk of Mike</h5>
                                <p>on : web design<p>
                            </div>
                        </div>
                    </div>
                    <!-- add this line to add small portfolio  -->

                    <div class="col-lg-4">
                        <div class="panel">
                            <div class="portfolioThumbnail">
                                <a id="example3" href="demo/port2b.jpg"><img alt="people again" src="demo/port2.jpg"/></a>
                            </div>
                            <div class="portfolioThumbnailText">
                                <h5>Team :) by Mike</h5>
                                <p>on : web design<p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel">
                            <div class="portfolioThumbnail">
                                <a id="example4" href="demo/port3b.jpg"><img  alt="people again again" src="demo/port3.jpg"/></a>
                            </div>
                            <div class="portfolioThumbnailText">
                                <h5>Jumper by Mike</h5>
                                <p>on : web design<p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel">
                            <div class="portfolioThumbnail">
                                <a id="example5" href="demo/port4b.jpg"><img alt="people" src="demo/port4.jpg"/></a>
                            </div>
                            <div class="portfolioThumbnailText">
                                <h5>Bird by Mike</h5>
                                <p>on : web design<p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel">
                            <div class="portfolioThumbnail">
                                <a id="example6" href="demo/port5b.jpg"><img alt="people" src="demo/port5.jpg"/></a>
                            </div>
                            <div class="portfolioThumbnailText">
                                <h5>Mechanical Butterfly by Mike</h5>
                                <p>on : web design<p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel">
                            <div class="portfolioThumbnail">
                                <a id="example7" href="demo/port6b.jpg"><img alt="people" src="demo/port6.jpg"/></a>
                            </div>
                            <div class="portfolioThumbnailText">
                                <h5>Chaps | 2 by Mike</h5>
                                <p>on : web design<p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- PORTFOLIO TAB -->

            <!-- BLOG TAB -->
            <div id="blog">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="panel">
                            <div class="panel-heading">Blog</div>

                            <!-- Duplicate by copy &amp; paste This line Single Post-->
                            <div class="singlePost">
                                <h5><a href="blogpost.html">How To Deal With A Love Feeling? A Crazy Little Thing Called 'Love'</a></h5>
                                <div class="headerImage"><img  alt="blog" src="demo/blog1.jpg"/></div>
                                <div class="description">
                                    <div class="descriptionSingle"><span class="icon glyphicon glyphicon-user"></span><span>Thomas Buddyman</span></div>
                                    <div class="descriptionSingle"><span class="icon glyphicon glyphicon-tag"></span><span>Web Design</span></div>
                                    <div class="descriptionSingle"><span class="icon glyphicon glyphicon-comment"></span><span>100 comments</span></div>
                                </div>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                <a href="#" class="readmore">readmore &#x2192;</a>
                            </div>
                            <!-- Duplicate by copy &amp; paste This line Single Post-->

                            <!-- Single Post-->
                            <div class="singlePost">
                                <h5><a href="blogpost.html">How To Deal With A Love Feeling? A Crazy Little Thing Called 'Love'</a></h5>
                                <div class="headerImage"><img alt="blog 2" src="demo/blog2.jpg"/></div>
                                <div class="description">
                                    <div class="descriptionSingle"><span class="icon glyphicon glyphicon-user"></span><span>Thomas Buddyman</span></div>
                                    <div class="descriptionSingle"><span class="icon glyphicon glyphicon-tag"></span><span>Web Design</span></div>
                                    <div class="descriptionSingle"><span class="icon glyphicon glyphicon-comment"></span><span>100 comments</span></div>
                                </div>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                <a href="#" class="readmore">readmore &#x2192;</a>
                            </div>

                            <!-- Single Post-->
                            <div class="singlePost">
                                <h5><a href="blogpost.html">How To Deal With A Love Feeling? A Crazy Little Thing Called 'Love'</a></h5>
                                <div class="headerImage"><img alt="blog3" src="demo/blog3.jpg"/></div>
                                <div class="description">
                                    <div class="descriptionSingle"><span class="icon glyphicon glyphicon-user"></span><span>Thomas Buddyman</span></div>
                                    <div class="descriptionSingle"><span class="icon glyphicon glyphicon-tag"></span><span>Web Design</span></div>
                                    <div class="descriptionSingle"><span class="icon glyphicon glyphicon-comment"></span><span>100 comments</span></div>
                                </div>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                <a href="#" class="readmore">readmore &#x2192;</a>
                            </div>

                            <!-- Single Post-->
                            <div class="singlePost">
                                <h5><a href="blogpost.html">How To Deal With A Love Feeling? A Crazy Little Thing Called 'Love'</a></h5>
                                <div class="headerImage"><img alt="blog4" src="demo/blog4.jpg"/></div>
                                <div class="description">
                                    <div class="descriptionSingle"><span class="icon glyphicon glyphicon-user"></span><span>Thomas Buddyman</span></div>
                                    <div class="descriptionSingle"><span class="icon glyphicon glyphicon-tag"></span><span>Web Design</span></div>
                                    <div class="descriptionSingle"><span class="icon glyphicon glyphicon-comment"></span><span>100 comments</span></div>
                                </div>
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
                                <a href="#" class="readmore">readmore &#x2192;</a>
                            </div>

                            <!-- Pagination -->
                            <div>
                                <ul class="pager blogPagination">
                                  <li class="previous"><a href="#">&larr; Older</a></li>
                                  <li class="next"><a href="#">Newer &rarr;</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel">
                            <div class="panel-heading">Categories</div>
                            <ul class="blogCategory">
                                <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Fresh Inspirations</a></span><div class="clearfix"></div></li>
                                <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Programming Corner</a></span><div class="clearfix"></div></li>
                                <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Daily Life</a></span><div class="clearfix"></div></li>
                                <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Random Post</a></span><div class="clearfix"></div></li>
                                <li><span class="icon glyphicon glyphicon-chevron-right"></span><span class="text"><a href="#">Freebies Inside</a></span><div class="clearfix"></div></li>
                            </ul>
                        </div>

                        <!-- Tweet -->
                        <div class="panel">
                            <div class="panel-heading">Latest Tweet</div>
                            <span class="twitter-author"><a href="http://twitter.com/thegraphicgeeks" target="_blank">@thegraphicgeeks</a></span>
                            <div id="lasttweet"></div>
                        </div>
                        <!-- Tweet -->
                    </div>
                </div>
            </div>{% endcomment %}
            <!-- BLOG -->

            <!-- CONTACT -->
            <div id="contact">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel">
                            <div class="panel-heading">Find Me On!</div>
                            <iframe class="googlemap" src="http://maps.google.co.id/?ie=UTF8&amp;q={{ agent.mailing_city|urlencode }}+{{ agent.mailing_state|urlencode }}&amp;spn=0.300999,0.616608&amp;t=m&amp;z=15&amp;output=embed"></iframe>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel">
                            <div class="panel-heading">Social Media For {% if agent.first_name or agent.last_name %}
                                {{ agent.first_name }} {{ agent.last_name }}{% else %}
                                {{ agent.full_name }}{% endif %}</div>
                            <ul class="personalInfo">
                                <li><span class="icon glyphicon glyphicon-ok"></span><span class="text">
                                {% if agent.facebook %}
                                    <a href="{{ agent.facebook }}">My Facebook</a>
                                {% else %}
                                    Facebook URL not added
                                {% endif %}
                                </span><div class="clearfix"></div></li>
                                <li><span class="icon glyphicon glyphicon-ok"></span><span class="text">
                                {% if agent.twitter %}
                                    <a href="{{ agent.twitter }}">My Twitter</a>
                                {% else %}
                                    Twitter URL not added
                                {% endif %}
                                </span><div class="clearfix"></div></li>
                                <li><span class="icon glyphicon glyphicon-ok"></span><span class="text">
                                {% if agent.youtube %}
                                    <a href="{{ agent.youtube }}">My Youtube Channel</a>
                                {% else %}
                                    YouTube URL not added
                                {% endif %}
                                </span><div class="clearfix"></div></li>
                                <li><span class="icon glyphicon glyphicon-ok"></span><span class="text">
                                {% if agent.website %}
                                    <a href="{{ agent.website }}">My Website</a>
                                {% else %}
                                    Website URL not added
                                {% endif %}
                                </span><div class="clearfix"></div></li>
                            </ul>
                        </div>
                        {% comment %}<div class="panel">
                            <a href="#" class="socialIcon iconFacebook">&#62220;</a>
                            <a href="#" class="socialIcon iconTwitter">&#62217;</a>
                            <a href="#" class="socialIcon iconInstagram">&#62253;</a>
                            <a href="#" class="socialIcon iconDribbble">&#62235;</a>
                            <div class="clearfix"></div>
                        </div>{% endcomment %}
                    </div>
                    <div class="col-lg-8">
                        <div class="panel">
                            <div class="panel-heading">Contact</div>
                            <form method="post" action="{{ agent.get_absolute_url }}" name="contactform" id="contactform" class="form">
                                {% csrf_token %}
                                <div class="field">
                                        <p>Name<span class="req">*</span></p>
{#                                        <input type="text" name="name" id="name" class="text-label" placeholder="Your name"/>#}
                                        {{ form.name.errors }}
                                        {{ form.name }}
                                        <span class="help-block">{{ form.name.help_text }}</span>
                                </div>
                                <div class="field">
                                        <p>Email</p>
{#                                        <input type="text" name="email" id="email" class="text-label" placeholder="Your email"/>#}
                                        {{ form.email_address.errors }}
                                        {{ form.email_address }}
                                        <span class="help-block">{{ form.email_address.help_text }}</span>
                                </div>
                                <div class="field">
                                        <p>Phone</p>
{#                                        <input type="text" name="phone" id="phone" class="text-label" placeholder="Your phone"/>#}
                                        {{ form.phone_number.errors }}
                                        {{ form.phone_number }}
                                        <span class="help-block">{{ form.phone_number.help_text }}</span>
                                </div>
                                <div class="field">
                                        <p>Subject</p>
{#                                        <input type="text" name="subject" id="subject" class="text-label" placeholder="Your subject"/>#}
                                        {{ form.subject.errors }}
                                        {{ form.subject }}
                                        <span class="help-block">{{ form.subject.help_text }}</span>
                                </div>

                                <div class="field">
                                    <p>Message</p>
{#                                    <textarea name="message" id="message" class="textarea-label" placeholder="Your message"></textarea>#}
                                    {{ form.message.errors }}
                                    {{ form.message }}
                                    <span class="help-block">{{ form.message.help_text }}</span>
                                </div>

{#                                <div class="success-message">#}
{#                                    <strong>Success!</strong> You successfully send an email for us.#}
{#                                </div>#}

                                <input class="btn btnBasic" type="submit" value="Send">
                                <div class="field">
{#                                    <button type="button" id="send" class="btn btnBasic">Send</button>#}
                                    <div class="loading-contact"><img alt="loader" src="{% static "img/loader.gif" %}" /></div>
                                </div>

                                <div class="clear"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CONTACT -->
        </div>
        <!-- MAIN CONTENT -->

        <!-- FOOTER -->
        <footer>
            &copy; 2014 Real Estate Agent Lookup. All rights resevered.
        </footer>
        <!-- FOOTER -->

    </div>
    <!-- END -->
    {% block extra_js %}
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <!-- Optionally enable responsive features in IE8 -->
    <script src="{% static "js/jquery.respond.min.js" %}"></script>

    <script src="{% static "js/jquery.easytabs.js" %}"></script>
    <script src="{% static "js/jquery.hashchange.min.js" %}"></script>

    <script src="{% static "js/jquery.response.js" %}"></script>

    <script src="{% static "js/modernizr.custom.js" %}"></script>

    <!-- twitter -->
{#    <script src="{% static "js/twitter/jquery.tweet.js" %}"></script>#}
{#    <script src="{% static "js/twitter-options.js" %}"></script>#}
    <script type="text/javascript" src="{% static "js/fancybox/jquery.mousewheel-3.0.4.pack.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fancybox/jquery.fancybox-1.3.4.pack.js" %}"></script>


    <script src="{% static "js/toucheffects.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>

{#    <script src="{% static "js/bootstrap.min.js" %}"></script>#}

    <script type="text/javascript">
    $(document).ready(function() {

        $("a#example1").fancybox();
        $("a#example2").fancybox();
        $("a#example3").fancybox();
        $("a#example4").fancybox();
        $("a#example5").fancybox();
        $("a#example6").fancybox();
        $("a#example7").fancybox();

    });
    </script>
    {% endblock %}
{% endblock %}
