{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}
Real Estate Agents in {{ agents.0.mailing_city|title }}, {{ agents.0.mailing_state }}
{% endblock %}

{% comment %}{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}{% endcomment %}

{% block meta_description %}{% metablock %}
    Real Estate Agent lookup for {{ agents.0.mailing_city|title }}, {{ agents.0.mailing_state }}
{% endmetablock %}{% endblock %}

{% block title %}
Real Estate Agents in {{ agents.0.mailing_city|title }}, {{ agents.0.mailing_state }}
{% endblock %}

{% block extra_breadcrumb %}
<li>
<a href="/agent_lookup/">Agents by Region</a>
<span class="divider">/</span>
</li>
<li>
<a href="/agent_lookup/{{ agent_state_slug }}/">{{ agent_state_slug|title }}</a>
<span class="divider">/</span>
</li>
<li class="active">
{{ agent_city_slug|title }}
</li>
{% endblock %}

{% block alert_header %}
    {% if request.user.is_authenticated %}
        {% if not profile_claimed.0 %}
            <div class="alert" data-alert="alert">
            <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a> <a href="/agent/claimprofile/">To finish claiming your profile click here!</a> Just one more step!
            </div>
        {% else %}
           <div class="alert" data-alert="alert">
                <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a> <a href="/agent/profile/edit/{{ profile_claimed.1 }}/">To edit your profile click here!</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block extra_left_panel %}
{% comment %}<div class="panel tree"><h4>Agent lookup by city and state:</h4>
<ol class="explore-list">
{% for st in active_region %}
<li><a href='/agent_lookup/{{ st.region|slugify }}/'>{{ st.region }}</a></li>
{% endfor %}
</ol></div>{% endcomment %}
{% endblock %}

{% block main %}
<ul>
{% for agent in agents %}
    <li><a href="{{ agent.get_absolute_url }}">{{ agent.title }}</a></li>
{% endfor %}
</ul>
<div id="pagination">
    {% pagination_for agents %}
</div>
{% endblock %}
