{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}
Real Estate Agent, Broker and Corporation lookup by city in {{ active_region.region }}
{% endblock %}

{% comment %}{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}{% endcomment %}

{% block meta_description %}{% metablock %}
Lookup Real Estate Agents, Brokers and Corporations by city in {{ active_region.region }}
{% endmetablock %}{% endblock %}

{% block title %}
Real Estate Licensee lookup by city in {{ active_region.region }}
{% endblock %}

{% block extra_breadcrumb %}
<li>
<a href="/agent_lookup/">Agents by Region</a>
{#<span class="divider">/</span>#}
</li>
<li class="active">
{{ active_region.region }}
</li>
{% endblock %}

{% block alert_header %}
    {% if request.user.is_authenticated %}
        {% if not profile_claimed.0 %}
            <div class="alert" data-alert="alert">
            <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a> <a href="/agent/claimprofile/">To finish claiming your profile click here!</a> Just one more step!
            </div>
        {% else %}
           <div class="alert" data-alert="alert">
                <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a> <a href="/agent/profile/edit/{{ profile_claimed.1 }}/">To edit your profile click here!</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block main %}
<div class="col-lg-9">
    <div class="panel">
        <h2 class="panel-heading">{{ active_region.region }} Real Estate Agents Sorted by City</h2>
        <ul>
        {% for agt in agent %}
            {% if agt.mailing_city %}
                {% if agt.mailing_city != 'N/A' %}
                    <li><a href="/agent_lookup/{{ active_region.slugged_region }}/{{ agt.mailing_city|slugify }}/">{{ agt.mailing_city }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        </ul>
    </div>
<ul>
</ul>

{% endblock %}
