{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}
Claim Your Real Estate Profile
{% endblock %}

{% block meta_description %}{% metablock %}
Form to claim your real estate agent profile
{% endmetablock %}{% endblock %}

{% block title %}
Claim Your Real Estate Profile
{% endblock %}

{% block header_js %}
<script type="text/javascript">
$( document ).ready(function() {
    $('input').each(function(){
           $(this).addClass('text-label');
    });
});
</script>
{% endblock %}

{% block extra_breadcrumb %}
<li class="active">
Claim Your Profile
</li>
{% endblock %}

{% block main %}
<div class="col-lg-8">
<div class="panel">
<h2 class="panel-heading">Enter your Real Estate License ID to Finish Claiming your Profile {{ agent.get_data_for_license_type.license_type }}</h2>
<p>Real Estate License ID is Located in the top left module of your profile page. If you lost your profile page enter your name in the search box located on the top right</p>

<form enctype="multipart/form-data" action="/agent/claimprofile/" method="post" id="claim-profile" autocomplete="on">
    {% csrf_token %}
    <div class="field">
    {{ form.as_p }}
    </div>
    <input type="submit" value="Claim Profile" class="btn btnBasic"/>
</form>
</div>
    </div>
{% endblock %}
