<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles agent_tags %}

<head>
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    <!-- Bootstrap -->
    {% compress css %}
    <link href="{% static "css/bootstrap-agents.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/bootstrap-glyphicons.css" %}" rel="stylesheet">
    <link href="{% static "css/normalize.css" %}" rel="stylesheet" media="screen">
    <!-- CSS -->
    <link href="{% static "css/style.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/color.css" %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static "js/fancybox/jquery.fancybox-1.3.4.css" %}" media="screen" />
    <style type="text/css">
        .coverOverlay{background-image:url({% static "img/coverShadow.png" %});height:348px;width:940px;position:absolute;}
        .header_title{font-size: 12px; margin: 0 0 10px;}
        h2{font-size: 13px; color: #FFF;}
        h4{font-size:12px;line-height:18px;}
    </style>
    {% block extra_css %}{% endblock %}
    {% endcompress %}


    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    {% compress js %}
    <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
    {#<script src="{% static "js/bootstrap.js" %}"></script>#}
    {#<script src="{% static "js/bootstrap-extras.js" %}"></script>#}
    {% block extra_js %}{% endblock %}
    {% endcompress %}

    {% block extra_head %}{% endblock %}
</head>

<body>
<div class="container tab-container" id="tab-container-navs">
    <div>
    <ul class="breadcrumb" style="background-color: #323a44"><li><a href="/">Real Estate Agent Lookup</a> | <em>Agent search, reviews and information</em></li></ul>
    <form action="/search-hs/" class="navbar-search pull-right input-append hidden-sm">
        <input class="search-query" placeholder="Search" type="text" name="q" value="{{ request.REQUEST.q }}">
        <input type="submit" class="btn btnBasic" value="Go">
    </form>
    </div>
    <ul class="breadcrumb">
    {% spaceless %}
    {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}{% block extra_breadcrumb %}{% endblock %}
    {% endspaceless %}
    </ul>
    {% nevercache %}
    <div>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" data-alert="alert">
            <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
        </div>
    {% endfor %}
    </div>
    {% endnevercache %}
</div>

<div class="container">
    <header>
        <div class="cover" style="background-image:url({{ MEDIA_URL }}{% agent_thumbnail "uploads/default-real-estate-hero.jpg" 940 348 %});">
            <div class="coverOverlay"></div>
            <!-- profile picture - change your profile picture here -->
            <div class="profilePicture">
            {% block profile_headshot %}
                <img src="{{ MEDIA_URL }}{% agent_thumbnail "uploads/default.png" 170 170 %}" alt="Real Estate Agent Lookup Headshot" title="Real Estate Agent Lookup Headshot" />
            {% endblock %}
            </div>
            <!-- profile name - change profile name here -->
            <div class="profileName">
                <h1>{% block title %}{% endblock %}</h1>
                <p>Search for Real Estate Agents</p>
            </div>
        </div>
        <nav>
            <ul class="etabs">
                <li class="tab"><a href="/"><span class="tabIcon glyphicon glyphicon-user"></span><span class="tabText">Home</span></a></li>
                <li class="tab"><a href="/agent_lookup/"><span class="tabIcon glyphicon glyphicon-briefcase"></span><span class="tabText">Agents by Region</span></a></li>
            </ul>
        </nav>
    </header>
</div>

<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-lg-3">
                <div class="panel">
                    <h2 class="panel-heading">Login / Edit Profile</h2>
                    {% nevercache %}
                    {% include "includes/user_panel.html" %}
                    {% endnevercache %}
                    {% comment %}<div class="panel">
                    {% block right_panel %}
                    {% ifinstalled mezzanine.twitter %}
                    {% include "twitter/tweets.html" %}
                    {% endifinstalled %}
                    {% endblock %}
                </div>{% endcomment %}
                </div>
            </div>
            {% block main %}{% endblock %}
        </div>
    </div>
</div>

<footer>
<div class="container">
{% block extra_footer %}{% endblock %}
<br style="clear:both">
<p>
    <a href="/">Home</a>
    <span class="separator">|</span>
    <a href="/contact/">Contact</a>
    <span class="separator">|</span>
    <a href="/privacy-policy/">Privacy Policy</a>
</p>
</div>
</footer>

{% include "includes/footer_scripts.html" %}

</body>
</html>
