<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    <!-- Bootstrap -->
    {% compress css %}
    <link href="{% static "css/bootstrap-agents.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/bootstrap-glyphicons.css" %}" rel="stylesheet">
    <link href="{% static "css/normalize.css" %}" rel="stylesheet" media="screen">
    <!-- CSS -->
    <link href="{% static "css/style.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/color.css" %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static "js/fancybox/jquery.fancybox-1.3.4.css" %}" media="screen" />
    <style type="text/css">
    .coverOverlay{background-image:url({% static "img/coverShadow.png" %});height:348px;width:940px;position:absolute;}
    </style>
    {% endcompress %}


    <!-- Google Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="container tab-container" id="tab-container-navs">
    <div>
    <ul class="breadcrumb" style="background-color: #323a44"><a href="/">Real Estate Agent Lookup</a> | <em>Agent search, reviews and information</em></ul>
    <form action="/search-hs/" class="navbar-search pull-right input-append hidden-sm">
        <input class="search-query" placeholder="Search" type="text" name="q" value="{{ request.REQUEST.q }}">
        <input type="submit" class="btn btnBasic" value="Go">
    </form>
    </div>
    <ul class="breadcrumb">
    {% spaceless %}
    {% block extra_breadcrumb %}{% endblock %}
    {% endspaceless %}
    </ul>
</div>


{% block main %}{% endblock %}
{% block extra_js %}{% endblock %}
</body>
</html>

